<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label>Enter the First Number: </label>
        <input type="text" placeholder="First Number" name="First_number">
        <br><br>
        <label>Enter the Second Number: </label>
        <input type="text" placeholder="Second Number" name="Second_number">
        <br><br>
        <button type="submit">Submit</button>{{sum}}
    </form>
</body>
</html>