<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My string filter pratice</h1>
    <p>
        My user-name = {{ username|upper }}
        <br><br>
        Capitalize first character = {{username|capfirst}}
        <br><br>
        Truncate character = {{description|truncatechars:10}}
        <br><br>
        Truncate words = {{description|truncatewords:10}}
        <br><br>
        tagline default ={{tagline|default:"this is default value"}}
        <br><br>
        remove underscore = {{headline|cut:"_"}}
    </p>


</body>
</html>